<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs: The Great New Toy!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>The Great New Toy!</h1>

    <p><img src="@Model.GetPicture1()" alt="">There is a new toy on the market that has everyone saying
 @Model.GetExclamation1()! It is called the @Model.GetSound1()
@Model.GetAdjective1() @Model.GetNoun1() box and will be in stores in @Model.GetMonth1(). The @Model.GetSound1()
@Model.GetAdjective2()@Model.GetNoun2() box is a new gadget that lets you do just about anything!
It @Model.GetVerb1()s, it @Model.GetVerb2()s, it even serves @Model.GetDrink1()! It is easy to operate and requires
no instructions! You can also have it custom made to be any size you want up to @Model.GetNumber1() inches and @Model.GetColor1() or glow in the dark with no extra charge!
The original product is pocket-sized and @Model.GetColor2(). There are @Model.GetNumber2() jacks on the product
for 6V DC power and for upgrades and add-ons. You can add headphones, @Model.GetNoun3() , monitors,
 @Model.GetNoun4(), and more, and use them all at the same time!

</p>
  </body>
</html>
